{
	"arrowParens": "always",
	"printWidth": 150,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^pages/",
		"^widgets",
		"^features/",
		"^entities/",
		"^shared/",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderCaseInsensitive": true
}
